* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  background-color: beige;
  color: black;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#links {
  display: flex;
  list-style: none;
  gap: 30px;
}

#links:not(#order) {
  order: 1;
}

#order {
  order: -1;
}

#links > li {
  margin: 0 15px;
}

#links a,
#links a:visited {
  color: red;
  text-decoration: none;
}

#intro {
  display: flex;
  padding: 40px;
  background-color: orangered;
  height: 600px;
}

#intro > * {
  width: 100%;
}

.intro1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.intro2 {
  display: flex;
}

#intro-image {
  max-width: 100%;
  border-radius: 10px;
  align-self: center;
}

#figures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: bisque;
  flex-wrap: wrap;
  gap: 20px;
}

.figure-item {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.figure-item:nth-child(odd) {
  flex-shrink: 4;
}

footer {
  background-color: orange;
  color: black;
  text-align: center;
  padding: 20px;
}
